.loadingContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    position: fixed;
    width: 80%;
    top: 55vh;
    left: 50%;
    transform: translate(-50%, -50%);
}
