.homeContainer {
    padding: 120px 0;
    min-height: 95vh;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .homeContainer {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .homeContainer {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .homeContainer {
        width: 1170px;
    }
}