.login {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.pokemonLogo {
    position: relative;
    max-width: 200px;
}

.left {
    padding-right: 0;
    flex-grow: 1.2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--main-color);
}

.one {
    display: flex;
    align-items: center;
    height: 80%;
    width: 60%;
    background-color: var(--main-color);
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}

.right {
    padding-left: 0;
    flex-grow: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
}

.two {
    display: flex;
    align-items: center;
    height: 80%;
    width: 75%;
    background-color: #fff;
    padding: 1rem 5rem;
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
    position: relative;
}

.needHelp a {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.forgotPassword a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.formControl {
    padding: 0.8rem 0.8rem !important;
}

.bold {
    font-weight: bold;
    font-size: 18px;
}

.btnLogin {
    border: var(--main-color) !important;
    background: var(--main-color) !important;
    color: #000 !important;
    font-weight: 600 !important;
    padding: 0.8rem 0 !important;
}

@media(max-width: 991px) {
    .login {
        background-color: var(--main-color);
    }
    .left {
        display: none;
    }
    .right {
        max-width: 600px;
        width: 80%;
        min-height: 72vh;
        position: fixed;
        top: 50vh;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        background-color: #ffffff;
        box-shadow: var(--shadow);
    }
    .two {
        position:absolute;
        height: 100%;
        width: 100%;
        box-shadow: none;
        padding: 0.2rem 0.5rem;
    }
 
}